// @import url('../../pages/signup/signup.component.scss');
.col-body,
h1 {
    font-family: "Raleway", sans-serif;
}
.col-body {
    height: 100%;
    width: 98vw;
}
.col-img {
    width: 56%;
}
.col-h {
    width: 80%;
    margin: auto;
    margin-top: 73px;
    font-weight: 700;
}
.col-sign {
    display: flex;
    justify-content: center;
    align-items: center;
}
//edit button
.form-submit-button {
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    }
    .form-submit-button:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    }