<div class="col-body">
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            <div class="row">
                <div class="col-4">
                    <img src="../../../../assets/img/vecteezy_date-of-delivery-vector-filled-flat-sign-for-mobile-concept_7278549.jpg"
                        alt="" class="col-img">
                </div>
                <div class="col-5">
                    <h1 class="w3-jumbo w3-animate-top col-h">Sleep Tracking</h1>
                </div>
                <div class="col-3 col-sign">
                    <button class="btn btn-success col-btn" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <form class="border p-3 rounded-3">
            <div class="container register">
                <div class="row">
                    <div class="col-md-9 register-right">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Wakeup Time</h3>
                                <div class="row register-form">
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input type="time" class="form-control p-3" placeholder="time *"
                                                        value="" id="meal" formControlName="meal" />

                                                </div>
                                            </div>

                                            <h3 class="register-heading">Sleep Time</h3>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input type="time" class="form-control p-3" placeholder="time *"
                                                        value="" id="calories" formControlName="calories" />
                                                </div>
                                                <button type="submit" class="btn btn-primary mt-2">+ Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <h3 class="text-center">Having Trouble in Sleep?</h3>
    <div>
        <div class="row container p-3 my-3 col-bg text-black col-focus">
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <h5 class="mt-0">Listen to relaxing Music</h5>
                        <p>Music can significantly improve quality of sleep. It can even be used to improve chronic
                            sleep
                            disorders, such as insomnia. Listening to Buddhist music may be another great tool for
                            better sleep,
                            as it can reduce the amount of time it takes you to fall asleep. This parameter is known as
                            sleep
                            onset. <a
                                href="https://www.sleepfoundation.org/noise-and-sleep/music#:~:text=Music%20improves%20sleep%20through%20calming,with%20frustration%20and%20sleepless%20nights."
                                target="_blank">Know more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <img src="../../../../assets/img/sleep_music.jpg" class="col-img float-end" alt="">
            </div>
        </div>

        <div class="row container p-3 my-3 bg-dark text-white col-focus">
            <div class="col-3">
                <img src="../../../../assets/img/sleep_yoga.jpg" class="col-img float-left" alt="">
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <h5 class="mt-0 float-end">Practice Yoga poses</h5>
                        <p class="float-end">Yoga is a gentle and restorative way to wind down your day. A national
                            survey found that over 55% of people who did yoga found that it helped them get better
                            sleep. Over 85% said yoga helped reduce stress. You can use supportive props like bolsters,
                            blankets, and blocks to make poses comfortable so that you can stay in the pose for longer
                            and continue to breathe. <a href="https://www.health.harvard.edu/blog/8753-201512048753"
                                target="_blank">Know more</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container p-3 my-3 bg-secondary text-white col-focus">
            <div class="col-9">
                <h4>Reduce irregular or long daytime naps</h4>
                <p>Irregular sleep-wake syndrome is sleeping without any real schedule. This disorder is very rare. It
                    usually occurs in people with a brain function problem who also don't have a regular routine during
                    the
                    day. The amount of total sleep time is normal, but the body clock loses its normal circadian
                    cycle. <a target="_blank"
                        href="https://www.mountsinai.org/health-library/diseases-conditions/irregular-sleep-wake-syndrome">Know
                        more</a></p>
            </div>
            <div class="col-3">
                <img src="../../../../assets/img/sleep_irregular.jpg" class="col-img float-end" alt="">
            </div>
        </div>
    </div>
</div>