<div class="col-body">
  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      <div class="row">
        <div class="col-4">
          <img
            src="../../../../assets/img/vecteezy_date-of-delivery-vector-filled-flat-sign-for-mobile-concept_7278549.jpg"
            alt="" class="col-img">
        </div>
        <div class="col-5">
          <h1 class="w3-jumbo w3-animate-top col-h">Life Tracking</h1>
        </div>
        <div class="col-3 col-sign">
          <button class="btn btn-success">Signup/Login</button>
        </div>
      </div>
    </div>
    <div class="w3-display-middle">
      <!-- <p class="w3-large w3-center">35 days left</p> -->
    </div>
  </div>
</div>


<div class="container">
  <div class="card">
    <div class="imgBx">
      <img src="../../../../assets/img/health.jpg">
    </div>
    <div class="content">
      <h2>Health Track</h2>
      <p>Achieving and maintaining a healthy lifestyle can be a challenge for many people as the busy nature of many lives means they often fall into bad habits because of their ease or speed. Tracking your health can make maintaining a healthy lifestyle much easier for the growing number of people that find it difficult to balance work, life and wellbeing. Health tracking, like with the dacadoo healthscore, can give you a tangible way to improve your lifestyle choices, which will in turn better your health in the long term.</p>
      <button class="btn btn-success">Track Health</button>
    </div>
  </div>
  <div class="card">
    <div class="imgBx">
      <img src="../../../../assets/img/wealth.jpg">
    </div>
    <div class="content">
      <h2>Wealth Track</h2>
      <p>There is a popular saying that “the easiest way of becoming bankrupt is by not paying attention to your expenses.” There is nothing that captures the importance of keeping track of your expenses better than that saying. Being aware of our spending habits is the best way of utilizing our money. When you know how much money you spend, it’s easy to balance your income with your spending and even save for the future.</p>
      <button class="btn btn-success">Track Wealth</button>
    </div>
  </div>
</div>