<div class="row-main">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1>Life Tracking</h1>
        </div>
      </div>
      <div class="row">
        <div class="col row-top">
          <div class="row">
            <div class="col col-para">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quis necessitatibus eius illo magnam natus
                illum eaque, libero dolor debitis commodi, expedita maiores sed eos maxime quia, sapiente labore non.</p>
            </div>
          </div>
          
          <div class="row mt-4">
            <div class="col col-btn">
              <button class="btn btn-success btn-style">Let's Start</button>
            </div>
          </div>
        </div>
        <div class="col">
          <img src="../assets/img/original.jpg" alt="" class="col-img">
        </div>
      </div>
    </div>
  </div>