<div class="col-body">
  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      <div class="row">
        <div class="col-4">
          <img
            src="../../../../assets/img/vecteezy_date-of-delivery-vector-filled-flat-sign-for-mobile-concept_7278549.jpg"
            alt="" class="col-img">
        </div>
        <div class="col-5">
          <h1 class="w3-jumbo w3-animate-top col-h">Life Tracking</h1>
        </div>

      
        <div class="col-3 col-sign" *ngIf="showSign">
          <button class="btn btn-success col-btn" [routerLink]="['/signup']">Signup/Login</button>
        </div>
        <div class="col-3 col-sign" *ngIf="!showSign">
          <button class="btn btn-success col-btn" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="back" *ngIf="!showMain" (click)="chooseAgain()">
  <span>
    <img class="col-back" src="../../../../assets/img/back.png" alt="">
    Back</span>
</div>

<div class="container" *ngIf="showMain">
  <div class="card">
    <div class="imgBx">
      <img src="../../../../assets/img/health.jpg">
    </div>
    <div class="contentBefore col-hea">
      <h2>Health Track</h2>
      <p class="col-p">Achieving and maintaining a healthy lifestyle can be a challenge for many people as the busy
        nature of many
        lives means they often fall into bad habits because of their ease or speed. Tracking your health can make
        maintaining a healthy lifestyle much easier for the growing number of people that find it difficult to balance
        work, life and wellbeing.</p>
    </div>
    <div class="content">
      <button class="btn btn-success col-btn" (click)="letsHealth()">Track Health</button>
    </div>
  </div>
  <div class="card">
    <div class="imgBx">
      <img src="../../../../assets/img/wealth.jpg">
    </div>
    <div class="contentBefore">
      <h2>Wealth Track</h2>
      <p class="col-p">There is a popular saying that “the easiest way of becoming bankrupt is by not paying attention
        to your
        expenses.” There is nothing that captures the importance of keeping track of your expenses better than that
        saying. Being aware of our spending habits is the best way of utilizing our money. When you know how much money
        you spend, it’s easy to balance your income with your spending and even save for the future.</p>
    </div>
    <div class="content">
      <button class="btn btn-success col-btn" (click)="wealthCards()">Track Wealth</button>
    </div>
  </div>
</div>


<div class="container" *ngIf="showHealth">
  <div class="card col-card">
    <div class="imgBx">
      <img src="../../../../assets/img//sleep.jpg">
    </div>
    <div class="contentBefore col-hea">
      <h2>Sleep Track</h2>
      <p class="col-p">The benefits of sleep tracking are as flexible as your journey through life. It helps you make
        informed decisions on your health. It clears away certain doubts and you can focus on that which remains, your
        subjective experience on your quality of rest and what you need to reach better sleep.</p>
    </div>
    <div class="content">
      <button class="btn btn-success col-btn" (click)="healthCards()">Track Sleep</button>
    </div>
  </div>
  <div class="card col-card">
    <div class="imgBx">
      <img src="../../../../assets/img/water.jpg">
    </div>
    <div class="contentBefore col-hea">
      <h2>Water Track</h2>
      <p class="col-p">Water is essential for survival.Our bodies are made up of about 60% water, and throughout the day
        we lose it due to sweating, breathing and, well, going to the bathroom. That’s why it’s so important to drink
        plenty of water and to track the intake.</p>
    </div>
    <div class="content">
      <button class="btn btn-success col-btn" (click)="healthCards()">Track Water</button>
    </div>
  </div>
  <div class="card col-card">
    <div class="imgBx">
      <img src="../../../../assets/img/diet.jpg">
    </div>
    <div class="contentBefore col-hea">
      <h2>Diet Track</h2>
      <p class="col-p">Measuring food intake is a crucial part of living a healthy lifestyle and can help to maintain a
        balanced diet and stay on top of health goals. When you track your food, you measure the amount of calories (and
        nutritional value) that you put into your body.</p>
    </div>
    <div class="content">
      <button class="btn btn-success col-btn" [routerLink]="['/diet']">Track Diet</button>
    </div>
  </div>
  <div class="card col-card">
    <div class="imgBx">
      <img src="../../../../assets/img/exercise.png">
    </div>
    <div class="contentBefore">
      <h2>Exercise Track</h2>
      <p class="col-p">Tracking the exercise progress is important because it lets you see how you are progressing in
        terms of reaching your previously set goals, and see where you can make changes to get you back on track.</p>
    </div>
    <div class="content">
      <button class="btn btn-success col-btn" (click)="wealthCards()">Track Exercise</button>
    </div>
  </div>
</div>

<div class="container" *ngIf="showWealth">
  <div class="card col-card">
    <div class="imgBx col-img2">
      <img src="../../../../assets/img/expenditure.jpg">
    </div>
    <div class="contentBefore">
      <h2>Expenditure Track</h2>
      <p class="col-p">When you track your spending, you can cut out bad spending habits, create and stick to a budget,
        and make sure you’re putting money toward your goals.The benefits of tracking your expenses include finding and
        eliminating bad spending habits, preventing overspending.</p>
    </div>
    <div class="content">
      <button class="btn btn-success col-btn" (click)="wealthCards()">Track Expenditure</button>
    </div>
  </div>
</div>


<!-- Health Tracking Form -->
<div class="modal fade" bsModal #healthModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="healthModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="healthTrackForm" (ngSubmit)="trackHealth()" class="border p-3 rounded-3">
          <div class="container register">
            <div class="row col-row">
              <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row register-form">
                      <h4>Let's Track your Health</h4>

                      <div class="col-md-6">
                        <div class="form-group p-2">
                          <input type="text" class="form-control p-2" placeholder="Profession" id="profession"
                            formControlName="profession" value="" />
                        </div>
                        <div class="form-group p-2">
                          <input type="text" minlength="1" maxlength="2" name="txtEmpPhone" class="form-control p-2"
                            id="job_hours" formControlName="job_hours" placeholder="Your Job Hours" value="" />
                        </div>

                        <div class="form-group p-2">
                          <div class="maxl">
                            <h5>Job Type</h5>
                            <label class="radio inline pt-2">
                              <input type="radio" name="job_type" value="1" id="sitting" formControlName="job_type">
                              <span> Sitting Job </span>
                            </label>
                            <label class="radio inline">
                              <input type="radio" name="job_type" value="2" id="physical" formControlName="job_type">
                              <span> Physical Job </span>
                            </label>
                          </div>
                        </div>
                        <button type="submit" [disabled]="!healthTrackForm.valid && healthTrackForm.touched"
                          class="btn btn-primary col-btn">SUBMIT</button>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group p-2">
                          <input type="text" minlength="1" maxlength="2" class="form-control p-2" id="age"
                            formControlName="age" placeholder="Age" value="" />
                        </div>
                        <div class="form-group p-2">
                          <input type="text" minlength="1" maxlength="3" class="form-control p-2"
                            placeholder="Your Weight *" id="weight" formControlName="weight" value="" />
                        </div>
                        <div class="form-group p-2">
                          <input type="text" minlength="1" maxlength="3" class="form-control p-2"
                            placeholder="Your Height(in Cms) *" id="height" formControlName="height" value="" />
                        </div>
                        <div class="form-group p-2">
                          <div class="maxl">
                            <h5>Goal</h5>
                            <label class="radio inline pt-2">
                              <input type="radio" name="goal" value="1" id="loss" formControlName="goal">
                              <span> Weight loss </span>
                            </label>
                            <label class="radio inline">
                              <input type="radio" name="goal" value="2" id="gain" formControlName="goal">
                              <span> Weight gain </span>
                            </label>
                            <label class="radio inline">
                              <input type="radio" name="goal" value="3" id="strength" formControlName="goal">
                              <span> Physical Strength </span>
                            </label>
                            <label class="radio inline">
                              <input type="radio" name="goal" value="4" id="maintain" formControlName="goal">
                              <span> Maintain healthy life </span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

