<div class="col-body">
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            <div class="row">
                <div class="col-4">
                    <img src="../../../../assets/img/vecteezy_date-of-delivery-vector-filled-flat-sign-for-mobile-concept_7278549.jpg"
                        alt="" class="col-img">
                </div>
                <div class="col-5">
                    <h1 class="w3-jumbo w3-animate-top col-h">Exercise Tracking</h1>
                </div>
                <div class="col-3 col-sign">
                    <button class="btn btn-success col-btn" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mx-auto">
    <div class="row" *ngIf="ifOptions && !selectedOption">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col" (click)="getWorkout(1)">
                            <h3 class="info">Workout A</h3>
                            <div class="card">
                                <img src="../../../../assets/img/workoutA.jpg" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="col" (click)="getWorkout(2)">
                            <h3 class="info">Workout B</h3>
                            <div class="card">
                                <img src="../../../../assets/img/workoutB.jpg" class="card-img-top" alt="...">

                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col" (click)="getWorkout(3)">
                            <h3 class="info">Workout C</h3>
                            <div class="card">
                                <img src="../../../../assets/img/workoutD.jpg" class="card-img-top" alt="...">

                            </div>
                        </div>
                        <div class="col" (click)="getWorkout(4)">
                            <h3 class="info">Workout D</h3>
                            <div class="card">
                                <img src="../../../../assets/img/workoutA.jpg" class="card-img-top" alt="...">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!ifOptions && !getselectWorkout && !selectedOption">
        <div class="back" (click)="chooseAgain()">
            <span>
                <img class="col-back" src="../../../../assets/img/back.png" alt="">
                Back</span>
        </div>
        <div class="mx-auto" style="width: 1000px;">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sr.No.</th>
                        <th scope="col">Exercise</th>
                        <th scope="col">Sets</th>
                        <th scope="col">Reps</th>
                        <th scope="col">Rest</th>
                    </tr>
                </thead>
                <tbody *ngIf="yesMon">
                    <h4>Monday</h4>
                    <tr *ngFor="let mon of Monday; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{mon.name}}</td>
                        <td>{{mon.reps}}</td>
                        <td>{{mon.sets}}</td>
                        <td>{{mon.rest}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="yesTues">
                    <h4>Tuesday</h4>
                    <tr *ngFor="let tue of Tuesday; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{tue.name}}</td>
                        <td>{{tue.reps}}</td>
                        <td>{{tue.sets}}</td>
                        <td>{{tue.rest}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="yesWed">
                    <h4>Wednesday</h4>
                    <tr *ngFor="let wed of Wednesday; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{wed.name}}</td>
                        <td>{{wed.reps}}</td>
                        <td>{{wed.sets}}</td>
                        <td>{{wed.rest}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="yesThur">
                    <h4>Thursday</h4>
                    <tr *ngFor="let thurs of Thursday; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{thurs.name}}</td>
                        <td>{{thurs.reps}}</td>
                        <td>{{thurs.sets}}</td>
                        <td>{{thurs.rest}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="yesFri">
                    <h4>Friday</h4>
                    <tr *ngFor="let fri of Friday; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{fri.name}}</td>
                        <td>{{fri.reps}}</td>
                        <td>{{fri.sets}}</td>
                        <td>{{fri.rest}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="yesSat">
                    <h4>Saturday</h4>
                    <tr *ngFor="let sat of Saturday; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{sat.name}}</td>
                        <td>{{sat.reps}}</td>
                        <td>{{sat.sets}}</td>
                        <td>{{sat.rest}}</td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary mt-2" (click)="selectWorkout()">Choose this Workout </button>
        </div>
    </div>
</div>

<!-- <div class="row" *ngIf="selectedOption && !msg"> -->
<div class="row" *ngIf="selectedOption">
    <div class="col">
        <div class="mx-auto" style="width: 1000px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sr.No.</th>
                        <th scope="col">Exercise</th>
                        <th scope="col">Sets</th>
                        <th scope="col">Reps</th>
                        <th scope="col">Rest</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let work of final_todays_work; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{work.name}}</td>
                        <td>{{work.sets}}</td>
                        <td>{{work.reps}}</td>
                        <td>{{work.rest}}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success float-end col-btn" (click)="doneWithToday()">Done</button>
        </div>
    </div>
</div>
<div class="row m-3" *ngIf="msg">
    <div class="col">
        <h4>You don't have any workout today to perform.</h4>
    </div>
</div>