<div class="col-body">
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            <div class="row">
                <div class="col-4">
                    <img src="../../../../assets/img/vecteezy_date-of-delivery-vector-filled-flat-sign-for-mobile-concept_7278549.jpg"
                        alt="" class="col-img">
                </div>
                <div class="col-5">
                    <h1 class="w3-jumbo w3-animate-top col-h">Exercise Tracking</h1>
                </div>
                <div class="col-3 col-sign">
                    <button class="btn btn-success col-btn" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mx-auto">
    <div class="row">
        <div class="col">
            <h4>Choose Your Workout</h4>
            <!-- <div class="body1">
                <div class="container">
                    <div class="card">
                        <div class="content">
                            <h2>A</h2>
                            <h3>Workout A</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <h2>B</h2>
                            <h3>Workout B</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <h2>C</h2>
                            <h3>Workout C</h3>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col col-a" (click)="getWorkout(1)">
                    <h3>Workout A</h3>
                </div>
                <div class="col col-b" (click)="getWorkout(2)">
                    <h3>Workout B</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-c" (click)="getWorkout(3)">
                    <h3>Workout C</h3>
                </div>
                <div class="col col-d" (click)="getWorkout(4)">
                    <h3>Workout D</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="mx-auto" style="width: 1000px;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Activity</th>
                <th scope="col">Duration</th>
                <th scope="col">Calories Burnt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cycle</td>
                <td>1:15</td>
                <td>700+</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Burpes</td>
                <td>20 min</td>
                <td>500</td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary mt-2 ">+ Add</button>
</div> -->